.recipe-scrape-btn{

    background-color: #8797AF;
    opacity: 0.9;

    .btn {
        background-color: transparent;
        color: white;
        font-size: 20px;
    }

    &:hover{
        opacity: 1;
    }

}

.new-int-form{
    width: 70%;
    padding: 0;
    height: 55px;

    .form-control{
        border-radius: 0;
        height: 55px;
    }
}

.integer-btn{
    width: 70%;
    height: 55px;
    background-color:#8797AF;
    border: none;
}

.logout-btn{
    float: right;
    border-radius: 0;
}

.modal-integer{
    border-radius: 0;
    text-align: center;

    .modal-header{
        border:none;
    }

    .modal-footer{
        border:none;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}