.onboarding-main{
    background-color: white;
    padding: 0;
    margin-top: 5em;
}

.onboarding-banner{
    padding: 2.5em 0;
    background-size: cover;
    // background-image:
    //     linear-gradient($secondary-color-overlay, $secondary-color-overlay),
    //     url('/images/background_only-copy2.jpg');
    background-color: #9D87AE;

    h2{
        color: white;
    }
}

.onboarding-userinfo{

    margin-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.form-group{
    margin-bottom: 30px;
}

.user-input{
    border-radius: 0;
    padding: 14px 15px;
    box-shadow: none;
    border-color: #C7C7C7;
    border-width: 1px;
    font-size: 16px;
    height: auto;

    &:focus{
        background-color: #FDFDFD;
    }
}

.onboarding-btn{

    background-color: #56667A;
    border: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    opacity: 0.9;
    border-color: #56667A;
    border-style: solid;

    &:hover{
        opacity: 1;
    }

    h3{
        color: white;
        margin: 0;
    }

    h4{
        color: white;
        margin: 0;
    }
}

.onboarding-btn-signup{
    background: white;

    h3{
        color: #56667A;
    }

    &:hover{
        background: #56667A;

        h3{
            color: white;
    }

    }
}

.loading{
    margin-top: 20%;

    i{
        font-size: 4em;
    }
}

